@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url(#{$path}.woff) format('woff'),
            url(#{$path}.woff2) format('woff2'),
            url(#{$path}.ttf) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face(
    'Muli',
    '../fonts/muli/muliregular/muliregular',
    400,
    'normal'
);
@include font-face('Muli', '../fonts/muli/mulibold/mulibold', 700, 'normal');

@include font-face(
    'Catamaran',
    '../fonts/catamaran/catamaranbold/catamaranbold',
    700,
    'normal'
);

@include font-face(
    'Catamaran',
    '../fonts/catamaran/catamaranblack/catamaranblack',
    900,
    'normal'
);

@mixin muli {
    font-family: 'Muli', 'sans-serif';
    font-weight: 400;
}

@mixin muli-bold {
    font-family: 'Muli', 'sans-serif';
    font-weight: 700;
}

@mixin catamaran-bold {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

@mixin catamaran-black {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
}
