$transitionTime: 0.3s;

$colorBodyBg: #f7f7f7;
$colorMain: #ff690f;
$textColorLight: #ffffff;
$titleColorDark: #333333;
$textColorDark: #565656;

$headerColorTitle: rgba(
    $color: #5799e6,
    $alpha: 0.4,
);
$headerColorSubtitle: rgba(
    $color: #69a0cd,
    $alpha: 0.8,
);
$headerColorNav: #4779aa;
$headerColorNavMobile: #69a0cd;

$footerColorText: #ffffff;

$phoneSize: 390px;
$phabletSize: 590px;
$tabletSize: 930px;
$tabletWideSize: 1024px;
