$transitionTime: 0.3s;

$colorMain: #ff690f;
$textColorLight: #ffffff;

$headerColorTitle: rgba(
    $color: #5799e6,
    $alpha: 0.4,
);
$headerColorSubtitle: rgba(
    $color: #69a0cd,
    $alpha: 0.8,
);

// $breakpoints: (
//   "phone-size"       : 400px,
//   "phone-wide-size"  : 480px,
//   "phablet-size"     : 560px,
//   "tablet-small-size": 640px,
//   "tablet-size"      : 768px,
//   "tablet-wide-size" : 1024px,
//   "desktop-size"     : 1248px,
//   "desktop-wide-size": 1440px
// );
