.main-nav {
    position: relative;
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item {
        & + & {
            margin: 0 0 0 35px;
        }
    }
    &__ref {
        @include muli-bold;
        color: $textColorLight;
        display: block;
        padding: 5px 10px;
        border-bottom: 3px solid transparent;
        transition: $transitionTime;
        white-space: nowrap;
        &:hover {
            border-bottom: 3px solid $colorMain;
        }
    }

    &__burger {
        display: none;
    }

    @media screen and (max-width: $tabletWideSize) {
        &__item {
            & + & {
                margin: 0 0 0 15px;
            }
        }
    }
    @media screen and (max-width: $tabletSize) {
        &__list {
            position: fixed;
            left: 0;
            top: -100%;
            width: 100%;
            height: 100%;
            background-color: $headerColorNavMobile;
            transition: $transitionTime;
            z-index: 3;
            padding: 120px 30px 0;
            display: flex;
            flex-direction: column;
        }
        &__item {
            & + & {
                margin: 10px 0 0;
            }
        }
        &__ref {
            display: inline-block;
            color: $textColorLight;
            padding: 5px 10px;
            border-bottom: 3px solid transparent;
            transition: $transitionTime;
            white-space: nowrap;
            &:hover {
                border-bottom: 3px solid transparent;
                color: $colorMain;
            }
        }

        &__burger {
            display: block;
            height: 20px;
            width: 30px;
            cursor: pointer;
            position: relative;
            z-index: 6;

            &::before,
            &::after,
            span {
                display: block;
                content: '';
                background-color: $textColorLight;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: $transitionTime;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 9px;
            }
            &:hover {
                &::before,
                &::after,
                span {
                    background-color: $colorMain;
                }
            }
        }

        &--active {
            .main-nav {
                &__list {
                    top: 0;
                }

                &__burger {
                    &::before {
                        transform: rotate(45deg);
                        top: 9px;
                    }
                    &::after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }
                    span {
                        transform: scale(0);
                    }
                }
            }
        }
    }
}
