.counts {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    &__inner {
        padding: 200px 0 100px;
    }
    &__title {
        max-width: 665px;
    }

    &__info {
        max-width: 660px;
        margin: 40px 0 60px;

        &__text {
        }
    }

    &__list {
        display: flex;
    }
    &__counter {
        & + & {
            margin: 0 0 0 60px;
        }
        &-num,
        &-text {
            display: block;
        }

        &-num {
            @include catamaran-black;
            color: $colorMain;
            line-height: 0.8;
            text-transform: uppercase;
            font-size: 64px;
        }
        &-text {
            @include muli-bold;
            color: $textColorDark;
            font-size: 18px;
        }
    }
    @media screen and (max-width: $tabletWideSize) {
        background-position: 0% 50%;
        text-align: center;

        &__title {
            margin: 0 auto;
        }

        &__info {
            max-width: 660px;
            margin: 40px auto 60px;
        }

        &__list {
            display: flex;
            justify-content: center;
        }
    }
}
