.about {
    text-align: center;
    &__inner {
        padding: 150px 0;
    }
    &__title {
        margin: 0 0 60px;
    }
    &__list {
        display: flex;
        margin: 0 -10px;
        &-item {
            padding: 0 10px;
            flex-basis: 25%;
        }
    }
    &__card {
        padding: 0 15px;
        &-img {
            margin: 0 auto;
            border-radius: 100%;
        }
        &-subtitle {
            margin: 30px 0 10px;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: $tabletSize) {
        &__inner {
            padding: 100px 0;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
            &-item {
                padding: 20px 10px;
                flex-basis: 50%;
            }
        }
    }
    @media screen and (max-width: $phabletSize) {
        &__list {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 0;
            &-item {
                padding: 20px 10px;
                flex-basis: 100%;
            }
        }
    }
}
