.offer {
    &__inner {
        padding: 70px 0 150px;
        text-align: center;
    }
    &__text {
        max-width: 930px;
        margin: 30px auto 50px;
        line-height: 1.778;
    }
    &__list {
        display: flex;
        margin: 0 -10px;
        &-item {
            flex-basis: 33.333%;
            padding: 0 10px;
        }
    }
    &__card {
        max-width: 240px;
        margin: 0 auto;
        padding: 10px;
        &-img {
            margin: 0 auto;
            height: 185px;
        }
        &-subtitle {
            margin: 30px 0 15px;
            text-transform: uppercase;
        }
        &-title {
            line-height: 1.2;
        }
        &-btn {
            margin: 25px auto 0;
        }
    }
    @media screen and (max-width: $tabletSize) {
        &__inner {
            padding: 55px 0 80px;
        }
        &__list {
            flex-direction: column;
            margin: 0;
            &-item {
                padding: 0;
                margin: 20px 0;
            }
        }
        &__text {
            margin: 20px;
        }

        &__card {
            &-subtitle {
                margin: 15px 0 10px;
            }
            &-btn {
                margin: 15px auto 0;
            }
        }
    }
}
