.about {
    text-align: center;
    &__inner {
        padding: 150px 0;
    }
    &__title {
        margin: 0 0 60px;
    }
    &__list {
        display: flex;
        margin: 0 -10px;
        &-item {
            padding: 0 10px;
            flex-basis: 25%;
        }
    }
    &__card {
        padding: 0 15px;
        &-img {
            margin: 0 auto;
            border-radius: 100%;
        }
        &-subtitle {
            margin: 30px 0 10px;
            text-transform: uppercase;
        }
    }
}
