extends layout/main

block variables
	-var title = 'Mountain'

block content
	include ./modules/sections/section-offer.pug
	include ./modules/sections/section-gallery.pug
	include ./modules/sections/section-about.pug
	include ./modules/sections/section-counts.pug
	include ./modules/sections/section-testimonial.pug
