extends layout/main

block variables
	-var title = 'Mountain'

block content
	include ./modules/sections/section-offer.pug
	include ./modules/sections/section-gallery.pug
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	//- +icon('fb')
