extends layout/main

block variables
	-var title = 'Mountain'

block content
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	p Main
	//- +icon('fb')
