header.header(style="background-image:url(./assets/images/header-bg.jpg)")
    #header-top.header-top
        .header-top__inner.wrapper.wrapper--large
            .header-top__logo
                img(src='./assets/images/logo.png' alt='Logo')
            include ../main-nav/main-nav.pug
    .header-content.wrapper.wrapper--small
        .header-content__inner
            h3.header-content__subtitle SKI & SNOWBOARD SCHOOL
            h1.header-content__title STAY & SKI
            p.header-content__text The countdown to ski season has begun! So, it is high time to improve your skills to have maximum fun this winter
            a.btn.btn--large.header-content__btn ONLINE BOOKING