.footer {
    //    min-height: 640px;
    background-color: $titleColorDark;

    &__inner {
        padding: 25px 0;
        display: flex;
    }
    &__info {
        flex-basis: 30%;
        padding: 70px 0;
    }
    &__title {
        color: $footerColorText;
        white-space: nowrap;
        margin: 0 30px 0 0;
    }
    &__contacts {
        margin: 25px 0 75px 15px;
        &-item {
            & + & {
                margin: 15px 0 0 0;
            }
        }
        &-ref {
            display: flex;
            align-items: center;
        }

        &-icon {
            @include box(16px);
            fill: $colorMain;
            margin: 0 15px 0 0;
        }
        &-text {
            display: inline-block;
            transition: $transitionTime;
            text-transform: uppercase;
            color: $footerColorText;
            max-width: 240px;
        }

        &-ref:hover &-text {
            color: $colorMain;
        }
    }
    &__social {
        margin: 0 0 0 15px;
        display: flex;
        &-item {
            & + & {
                margin: 0 0 0 15px;
            }
        }
        &-icon {
            @include box(30px);
            fill: rgba($footerColorText, 0.3);
            transition: $transitionTime;
        }
        &-ref:hover &-icon {
            fill: $colorMain;
        }
    }
    &__map {
        flex-basis: 70%;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
}
