ul.header-top__nav.main-nav
    li.main-nav__item
        a.main-nav__ref(href="/") Home
    li.main-nav__item
        a.main-nav__ref(href="#offer") What We Offer
    li.main-nav__item
        a.main-nav__ref(href="#gallery") Gallery
    li.main-nav__item
        a.main-nav__ref(href="#about") About Us
    li.main-nav__item
        a.main-nav__ref(href="/") Testimonials
    li.main-nav__item
        a.main-nav__ref(href="/") Contact Us


               