.header-top__nav.main-nav#main-nav
    ul.main-nav__list
        li.main-nav__item
            a.main-nav__ref(href="#header") Home
        li.main-nav__item
            a.main-nav__ref(href="#offer") What We Offer
        li.main-nav__item
            a.main-nav__ref(href="#gallery") Gallery
        li.main-nav__item
            a.main-nav__ref(href="#about") About Us
        li.main-nav__item
            a.main-nav__ref(href="#testimonial") Testimonials
        li.main-nav__item
            a.main-nav__ref(href="#contacts") Contact Us
    .main-nav__burger#nav-burger
        span


               