.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    position: relative;

    &-top {
        position: absolute;
        top: 20px;
        height: 100%;
        width: 100%;
        height: 90px;
        z-index: 4;
        background-color: transparent;

        &--fixed {
            background-color: $headerColorNav;
            box-shadow: 1px 2px 2px $headerColorNav;
            position: fixed;
            top: 0;
        }

        &__inner {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-content {
        position: relative;
        &__inner {
            padding: 125px 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
        }

        &__top {
            position: absolute;
            width: calc(100% - 30px);
            top: 130px;
        }
        &__subtitle,
        &__title {
            @include catamaran-black;
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
        }

        &__subtitle {
            font-size: 26px;
            color: $headerColorSubtitle;
        }
        &__title {
            font-size: 160px;
            // text-align: center;
            color: $headerColorTitle;
            margin: 0;
        }
        &__text {
            @include muli;
            font-size: 24px;
            color: $textColorLight;
            max-width: 660px;
            margin: 0 0 50px;
        }
    }
    @media screen and (max-width: $tabletSize) {
        &-top {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            height: 70px;
            z-index: 4;
            background-color: $headerColorNav;
            box-shadow: 1px 2px 2px $headerColorNav;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $headerColorNav;
                z-index: 5;
            }
            &__logo {
                position: relative;
                z-index: 6;
                width: 140px;
            }
        }

        &-content {
            &__top {
                top: 100px;
            }

            &__subtitle {
                font-size: 22px;
            }
            &__title {
                font-size: 120px;
            }
        }
    }
    @media screen and (max-width: $phabletSize) {
        &-content {
            &__subtitle {
                font-size: 20px;
            }
            &__title {
                font-size: 94px;
                margin: 20px 0 100px;
            }
        }
    }
    @media screen and (max-width: $phoneSize) {
        &-content {
            &__subtitle {
                font-size: 20px;
            }
            &__title {
                font-size: 70px;
            }
        }
    }
}
