.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 50%;
    position: relative;

    &-top {
        position: absolute;
        top: 20px;
        height: 100%;
        width: 100%;
        height: 90px;
        z-index: 2;
        background-color: transparent;

        &--fixed {
            background-color: $headerColorNav;
            box-shadow: 1px 2px 2px $headerColorNav;
            position: fixed;
            top: 0;
        }

        &__inner {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-content {
        position: relative;
        height: 100%;
        &__inner {
            padding: 125px 0 20px;
        }

        &__subtitle,
        &__title {
            @include catamaran-black;
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
        }

        &__subtitle {
            font-size: 26px;
            color: $headerColorSubtitle;
        }
        &__title {
            font-size: 160px;
            text-align: center;
            color: $headerColorTitle;
            margin: 20px 0 100px;
        }
        &__text {
            @include muli;
            font-size: 24px;
            color: $textColorLight;
            max-width: 660px;
            margin: 0 0 50px;
        }
    }
}
