.btn {
    @include catamaran-bold;
    border-radius: 6px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    border: 2px solid $colorMain;
    color: $textColorLight;
    background-color: $colorMain;
    transition: $transitionTime;
    cursor: pointer;

    &:hover {
        color: $colorMain;
        background-color: transparent;
    }

    &--small {
        font-size: 15px;
        padding: 12px;
        max-width: 120px;
    }
    &--large {
        font-size: 18px;
        padding: 15px;
        max-width: 240px;
    }
}
