.title {
    @include catamaran-black;
    color: $titleColorDark;
    line-height: 1.2;
    text-transform: uppercase;
    &--large {
        font-size: 60px;
    }
    &--small {
        font-size: 24px;
    }
}
.text {
    @include muli-light;
    color: $textColorDark;
    line-height: 1.778;
    &--large {
        font-size: 18px;
    }
    &--small {
        font-size: 14px;
    }
}
