.gallery {
    &-grid {
        display: grid;
        grid-template:
            'small-1 small-2 large-2'
            'large-1 small-3 large-2'
            'large-1 small-4 small-5';
        &__item {
            &-1 {
                grid-area: large-1;
            }
            &-2 {
                grid-area: large-2;
            }
            &-3 {
                grid-area: small-1;
            }
            &-4 {
                grid-area: small-2;
            }
            &-5 {
                grid-area: small-3;
            }
            &-6 {
                grid-area: small-4;
            }
            &-7 {
                grid-area: small-5;
            }
        }
    }
}
