section.offer
    .wrapper.wrapper--small
        .offer__inner
            h2.title.title--large.offer__title WHAT WE OFFER
            p.text.text--large.offer__text Skiing and snowboarding still rank among the undisputed winter sport highlights for all ages and ability levels. The perfectly groomed ski slopes makes a real heaven for skiers and riders. Our professional ski and snowboard instructors can show you all the little details while improving your skiing techniques and riding skills.
            ul.offer__list
                li.offer__list-item
                    .offer__card
                        img.offer__card-img(src='./assets/images/offer-skiing.png' alt='Skiing')
                        p.text.text--small.offer__card-subtitle NEW TO SKIING?
                        p.title.title--small.offer__card-title PRIVATE LESSONS FOR BEGINNERS
                        a.btn.btn--small.offer__card-btn FROM $250
                li.offer__list-item
                    .offer__card
                        img.offer__card-img(src='./assets/images/offer-snowboard.png' alt='Snowboard')
                        p.text.text--small.offer__card-subtitle NEED A CREW?
                        p.title.title--small.offer__card-title GROUP LESSONS FOR BEGINNERS
                        a.btn.btn--small.offer__card-btn FROM $150
                li.offer__list-item
                    .offer__card
                        img.offer__card-img(src='./assets/images/offer-snowboardind.png' alt='Snowboarding')
                        p.text.text--small.offer__card-subtitle WANNA MORE?
                        p.title.title--small.offer__card-title ADVANCED GROUP LESSONS
                        a.btn.btn--small.offer__card-btn FROM $450
