section.testimonial#testimonial
    .wrapper.wrapper--small
        .testimonial__inner
            h2.title.title--large.testimonial__title TESTIMONIALS
            .testimonial__swiper
                .swiper-wrapper
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-inner
                                .testimonial__card-icon__left
                                    +icon("left-quote","testimonial__card-icon__img")
                                figure.testimonial__card-person
                                    img.testimonial__card-person__img(src="./assets/images/testimonial-foto-1.jpg", alt="Foto")
                                    figcaption.title.testimonial__card-person__name ALEXA SMITH
                                .testimonial__card-icon__right
                                    +icon("right-quote","testimonial__card-icon__img")
                            p.text.text--large.testimonial__card-text The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-inner
                                .testimonial__card-icon__left
                                    +icon("left-quote","testimonial__card-icon__img")
                                figure.testimonial__card-person
                                    img.testimonial__card-person__img(src="./assets/images/testimonial-foto-1.jpg", alt="Foto")
                                    figcaption.title.testimonial__card-person__name ALEXA SMITH
                                .testimonial__card-icon__right
                                    +icon("right-quote","testimonial__card-icon__img")
                            p.text.text--large.testimonial__card-text The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-inner
                                .testimonial__card-icon__left
                                    +icon("left-quote","testimonial__card-icon__img")
                                figure.testimonial__card-person
                                    img.testimonial__card-person__img(src="./assets/images/testimonial-foto-1.jpg", alt="Foto")
                                    figcaption.title.testimonial__card-person__name ALEXA SMITH
                                .testimonial__card-icon__right
                                    +icon("right-quote","testimonial__card-icon__img")
                            p.text.text--large.testimonial__card-text The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-inner
                                .testimonial__card-icon__left
                                    +icon("left-quote","testimonial__card-icon__img")
                                figure.testimonial__card-person
                                    img.testimonial__card-person__img(src="./assets/images/testimonial-foto-1.jpg", alt="Foto")
                                    figcaption.title.testimonial__card-person__name ALEXA SMITH
                                .testimonial__card-icon__right
                                    +icon("right-quote","testimonial__card-icon__img")
                            p.text.text--large.testimonial__card-text The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.The perfectly groomed ski slopes makes a real heaven for skiers and riders.
                .testimonial__swiper-pagination
