section#gallery.gallery
    ul.gallery__list.gallery-grid
        li.gallery__list-item.gallery-grid__item-1
            img.gallery__img(src='./assets/images/gallery-item-large-1.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-2
            img.gallery__img(src='./assets/images/gallery-item-large-2.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-3
            img.gallery__img(src='./assets/images/gallery-item-small-1.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-4
            img.gallery__img(src='./assets/images/gallery-item-small-2.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-5
            img.gallery__img(src='./assets/images/gallery-item-small-3.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-6
            img.gallery__img(src='./assets/images/gallery-item-small-4.jpg' alt='Foto')
        li.gallery__list-item.gallery-grid__item-7
            img.gallery__img(src='./assets/images/gallery-item-small-5.jpg' alt='Foto')







