section.counts(style="background-image:url(./assets/images/counts-bg.jpg)")
    .wrapper.wrapper--small
        .counts__inner
            h2.title.title--large.counts__title MOUNTAIN SNOWBOARD SCHOOL
            .counts__info
                p.text.text--small.counts__info-text We’re not saying Snow Mountain has special powers, but a lot of magical things do happen here. The slopes on Bald and Dollar mountains enjoy a nearly lift line–free existence all winter long, not to mention a nearly cloud-free one.
                p.text.text--small.counts__info-text To those who wish to experience the best holiday time ever, we are excited to offer unlimited fun on the slopes, homey cosiness, wonderful views and snow activities. All this selection is presented in a great variety for any taste, age and skill. We are looking forward to seeing you in Snow Mountain ski resort at new season!
            ul.counts__list
                li.counts__counter
                    span.counts__counter-num 1600 
                    span.counts__counter-text HAPPY CLIENTS 
                li.counts__counter
                    span.counts__counter-num 18
                    span.counts__counter-text PROFESSIONAL AWARDS 
                li.counts__counter
                    span.counts__counter-num 213
                    span.counts__counter-text REACHED TOPS 
