section.about#about
    .wrapper.wrapper--small
        .about__inner
            h2.title.title--large.about__title MEET OUR CREW
            ul.about__list
                li.about__list-item
                    figure.about__card
                        img.about__card-img(src="./assets/images/about-foto-1.jpg", alt="Instructor foto")
                        figcaption 
                            p.text.text--small.about__card-subtitle INSTRUCTOR
                            h3.title.title--small.about__card-title JAMIE GARCIA
                li.about__list-item
                    figure.about__card
                        img.about__card-img(src="./assets/images/about-foto-2.jpg", alt="Instructor foto")
                        figcaption 
                            p.text.text--small.about__card-subtitle INSTRUCTOR
                            h3.title.title--small.about__card-title JAMES BILLINGS
                li.about__list-item
                    figure.about__card
                        img.about__card-img(src="./assets/images/about-foto-3.jpg", alt="Instructor foto")
                        figcaption 
                            p.text.text--small.about__card-subtitle INSTRUCTOR
                            h3.title.title--small.about__card-title PETER COLINS
                li.about__list-item
                    figure.about__card
                        img.about__card-img(src="./assets/images/about-foto-4.jpg", alt="Instructor foto")
                        figcaption 
                            p.text.text--small.about__card-subtitle INSTRUCTOR
                            h3.title.title--small.about__card-title AMANDA LEE
